body{
    background-color: black;
    image-rendering: optimizespeed;
    word-break: break-word;
    color: white;
    font-family: "VCR OSD Mono", sans-serif;
    overflow: hidden;
    text-align: center;
  }
  
  @font-face {
      font-family: VCR OSD Mono;
      src: url("VCR_OSD_MONO_1.001.ttf");
  }

  ::-webkit-scrollbar {
    display: none; 
  }

  #particles-js {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;  
  }

  a {
    background-image: linear-gradient(
      to right,
      #a8a8a8,
      #a8a8a8 50%,
      #636262 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  
  a:before{
    content: '';
    background: #636262;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
  
  .text-border {
    width: 50vw;
    border: 3px solid #ffffff; 
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff; 
    border-radius: 10px;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
    display: inline-block;
    background-color: #1717178c;
  
  }
  
  .frame-border {
    width: 20vw;
    margin-top: 30px;
    border: 3px solid #ffffff; 
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff; 
    border-radius: 10px;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
    display: inline-block;
    background-color: #1717178c;
  
  }

.project {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #ffffff 0%, #5f5f5f 100%);    
    border-radius: 20px;
    transition: all .3s;
  }
  
  .project2 {
    width: 190px;
    height: 254px;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: all .2s;

  }
  
  .project2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .project:hover {
    box-shadow: 0px 0px 30px 1px #ffffff;
  }

  .texto{
    padding: 5px;

  }

  .projects-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 70px; 
    padding-top: 60px;
    margin-top: 20px; 
    flex-wrap: wrap; 
}
