body {
  background: linear-gradient(#0c0c0c99, #0c0c0c99), url("gif.gif") no-repeat center fixed;
    background-size: cover;
    image-rendering: optimizespeed;
    font-family: MorePerfectDots, 'Courier New', monospace;
    text-align: center;
    word-break: break-word;
    color: #ffffff;

}

@font-face {
    font-family: MorePerfectDots;
    src: url("moreperfectdos.ttf");
}

a, p {
    font-size: 17px;
}

a, h1 {
  text-decoration: none;
  color: inherit;
  text-shadow:
      0 0 7px #ffffff
      0 0 14px #ffffff
}

  .text-border {
    width: 50vw;
    border: 3px double #442563;
    border-radius: 0px;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
    align-items: center;
    display: inline-block;
    background-color: #1717178c;
    top: 250px;

}

.frame-border {
  width: 20vw;
  margin-top: 30px;
  border: 3px double #3B1E58;
  border-radius: 0px;
  justify-content: center;
  padding: 5px 10px;
  align-items: center;
  display: inline-block;
  background-color: #1717178c;

}

  #preload p {
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 1.25rem;
  }

  #preload {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1.25rem;
    transition: 0.6s;
    color: #ffffff;
    
  }
  
  #hidden {
    opacity: 0;
    transition: 0s;
    color: #ffffff;
  }  
  
  .highlight {
    color: #5a367e;
    font-size: 17px;
    text-shadow: none;
    transition: 0.5s;
    z-index: 10000;
}

.highlight:hover {
  color: #ffffff;
  font-size: 17px;
  text-shadow: none;
  transform: scale3d(120%);
}

h3 {
  text-align: center;
}

@keyframes shake {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-5px);
  }
  50% {
      transform: translateX(5px);
  }
  75% {
      transform: translateX(-5px);
  }
  100% {
      transform: translateX(0);
  }
}


a.highlight {
  display: inline-block;
  transition: transform 0.2s ease;
}

a.highlight:hover {
  animation: shake 0.5s ease; 
}

p img {
  vertical-align: middle;
}

img {
  padding: 3px;
}

.miku {
  position: absolute;     
  bottom: 20px;        
  right: 20px;         
  z-index: 9999;       
  display: inline-block;
}

  #player-controls {
    display: inline-block;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }

  label {
    font-size: 14px;
  }

  #volumeControl, #progressControl {
    width: 150px;
  }

  #currentTime, #duration {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        text-align: center;

    }

    h3 {
      text-align: center;
  }

    .text-border {
        flex-direction: column; 
        width: 100%;
        align-items: center;
    }

    .frame-border {
      flex-direction: column; 
      width: 100%;
      align-items: center;  
  }

    .p {
      padding: 0 10px;
      text-align: center;
  }

  .miku {
    position: absolute;              
    padding-left: 50vw;
    width: 25vw;
    bottom: auto;

  }
  

    }


 ul  {

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  


 }   

 li {
  margin: 10px 0;           
}

.setup-img1 {
  width: 38%;
  padding: 20px 0px 35px 0px;
}

.setup-img2 {
  width: 48%;
  padding: 20px 0px 35px 0px;
}

.MenuIzq {
  position: absolute;
  top: 250px;   
  left: 20px;  
  width: 350px; 
  background-color: #1717178c;
  border: 3px double #3B1E58;
  text-align: center;
}

.MenuDer {
  position: absolute;
  top: 250px;   
  right: 20px;  
  width: 350px;
  background-color: #1717178c;
  border: 3px double #3B1E58;
  padding-top: 20px;
  padding-bottom: 40px;

}
