body {
    background: linear-gradient(#00000099, #00000099), url("gif.gif") no-repeat center fixed;
    background-size: cover;
    image-rendering: optimizespeed;
    font-family: MorePeftectDos, 'Courier New', monospace;
    text-align: center;
    word-break: break-word;
    color: #ffffff;

}

@font-face {
    font-family: MorePeftectDos;
    src: url("moreperfectdos.ttf");
}

a, p {
    font-size: 17px;
}

a, h1 {
  text-decoration: none;
  color: inherit;
  text-shadow:
      0 0 7px #ffffff
      0 0 14px #ffffff
}

html {
    cursor: url("cursor.cur"), default;
  }
  
   .text-border {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    border: 3px double #80a1f2;
    border-radius: 0px;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
    display: inline-block;
    background-color: #1717178c;

}

  #preload p {
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 1.25rem;
  }

  #preload {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1.25rem;
    transition: 0.6s;
    color: #ffffff;
    
  }
  
  #hidden {
    opacity: 0;
    transition: 0s;
    color: #ffffff;
  }  
  
  .highlight {
    color: #7d7ff1;
    font-size: 17px;
    text-shadow: none;
    cursor: url("pointer.cur"), pointer;
}

.border-img {
  border: 3px double #80a1f2;
  border-radius: 0px;
  justify-content: center;
  padding: 0px 0px;
  align-items: center;
  display: inline-block;
  background-color: #1717178c;

}   

p img {
  vertical-align: middle;
}

img {
  padding: 3px;
}
